@import url("https://fonts.googleapis.com/css2?family=B612+Mono&family=DM+Serif+Display:ital@0;1&display=swap");
@import "_variables";
@import "_elements";

* {
  box-sizing: border-box;
}

body {
  font-family: "DM Serif Display", monospace;
  background-color: yellowgreen;
  display: flex;
}

.left {
  width: 50%;
  height: 200vh;
  background-color: white;
  background: white;
}

header {
  position: absolute;
  min-width: 550px;
  width: 50%;
  nav {
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-size: 0.8vw;
    text-transform: uppercase;
    img {
      width: "250px";
    }
    .nav-link {
      flex: 1;
      width: 100%;
      margin-left: 10px;
      ul li {
        list-style: none;
        display: inline-block;
        justify-content: space-between;
        padding: 8px 25px;
        position: relative;
        font-family: "Paytone One", sans-serif;
        font-style: italic;
        color: white;
        a {
          text-decoration: none;
        }
        ::after {
          background: yellow;
          padding-top: 2px;
          display: block;
          margin: auto;
          width: 0%;
          height: 2px;
          content: "";
          transition: 0.5s;
        }
        :hover::after {
          width: 100%;
        }
      }
    }
  }
}

main {
  position: absolute;
  margin-top: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  h1,
  h2 {
    text-align: center;
  }
  h1 {
    font-size: 68px;
    margin-bottom: 20px;
  }
  h2 {
    font-family: "B612 Mono";
    font-size: 25px;
    margin-bottom: 50px;
  }
}

.hero {
  justify-self: center;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 40vh;
  margin-bottom: 150px;
  justify-self: center;

  .hero__img {
    padding-right: 30px;
    background-image: url("https://source.unsplash.com/random/");
    background-position: center center;
    background-size: cover;
    &:first-child {
      background-image: url("https://source.unsplash.com/random/1");
    }
    &:last-child {
      background-image: url("https://source.unsplash.com/random/2");
    }
    &:nth-last-child(2) {
      background-image: url("https://source.unsplash.com/random/3");
    }
  }
}

footer {
  margin: 100px 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 10fr 2fr;
  background-color: black;
  gap: 1px;
  height: 200px;
  border: 1px solid black;
  div {
    background-color: white;
    &:first-child {
      grid-column: span 2;
    }
    &:last-child {
      grid-column: 1 / -1;
    }
  }
}
